[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "==0.12.2"
markupsafe = "==1.0"
werkzeug = "==0.12.2"
"jinja2" = "==2.9.6"
itsdangerous = "==0.24"
click = ">=5.0"
"flask-sqlalchemy" = "==2.3.2"
"psycopg2" = "==2.7.3.1"
sqlalchemy = "==1.1.14"
"flask-migrate" = "==2.1.1"
"flask-wtf" = "==0.14.2"
wtforms = "==2.1"
gunicorn = ">=19.1.1"
"flask-webpack" = "==0.1.0"
"flask-login" = "==0.4.0"
"flask-bcrypt" = "==0.7.1"
"flask-caching" = ">=1.0.0"
"flask-debugtoolbar" = "==0.10.1"


[dev-packages]